---
---

@import "{{ site.theme }}";

// Solarized colourscheme
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;

header {
  display: none;
}

body {
  background-color: $base3;
}

p {
  color:$base00;
}

h1,h2,h3,h4,h5,h6 {
  color:$base1; border-color: $base0;
}

footer {
  display: none;
}
